<div>
    <div class="navbar-fixed">
        <nav class="red darken-3">
            <div class="nav-wrapper container">
                <a href="#!" class="brand-logo"><img src="/images/icons/user.png"/></a>
            </div>
        </nav>
    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="/images/backgrounds/parallax1.jpg"></div>
    </div>
    <div class="section user-section white">
        <div class="row container user">
            <div class="user-image">
                <span class="image"></span>
            </div>
              <ui-view></ui-view>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="/images/backgrounds/parallax2.jpg"></div>
    </div>

    <footer class="page-footer red darken-3">
        <div class="footer-copyright">
            <div class="container">
                © 2016 Copyright Inderdeep
                <a class="grey-text text-lighten-4 right" href="#!">Co-founder at Laxaar.com</a>
            </div>
        </div>
    </footer>

</div>
