<div class="user-info">
    <span class="name">{{ProfileCtrl.user.name}} </span>
    <a  ui-sref="profile.edit"><i class="tiny grey-text material-icons">mode_edit</i></a>
    <p class="location"><i class="tiny red-text material-icons">location_on</i> {{ProfileCtrl.user.city}}</p>
</div>
