<div id="profileModal" class="modal modal-fixed-footer">
    <div class="modal-header">
        <p>Edit Username</p>
    </div>
    <form name="profileForm" novalidate="" ng-submit="ProfileEditCtrl.validateForm(profileForm) && ProfileEditCtrl.saveUser()">
        <div class="modal-content">
            <div class="row">
                <div class="input-field col s6">
                    <input ng-model="ProfileEditCtrl.user.name" ng-focus="ProfileEditCtrl.focus.name=true" ng-blur="ProfileEditCtrl.focus.name=false" id="name" name="name" maxlength="50" type="text" class="validate" ng-disabled="ProfileEditCtrl.waiting" required>
                    <span class="help-block error" ng-show="!ProfileEditCtrl.focus.name && profileForm.$submitted  && profileForm.name.$error.required">This field is required</span>
                    <label class="active" for="name">Name *</label>
                </div>
                <div class="input-field col s6">
                    <input ng-model="ProfileEditCtrl.user.city" id="city" ng-focus="ProfileEditCtrl.focus.city=true" ng-blur="ProfileEditCtrl.focus.city=false" name="city" maxlength="50" type="text" class="validate" ng-disabled="ProfileEditCtrl.waiting" required>
                    <span class="help-block error" ng-show="!ProfileEditCtrl.focus.city && profileForm.$submitted  && profileForm.city.$error.required">This field is required</span>
                    <label class="active" for="city">City *</label>
                </div>
    </div>
    <div class="row">
        {{ProfileEditCtrl.message}}
    </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="waves-effect waves-green btn-flat red white-text">Save</button>
        <button type="button" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</button>
    </div>
    </form>
</div>
