doctype html
html(ng-app='app')
  head
    title Inderdeep Singh
    meta(charset='UTF-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='Laxaar')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(type='text/css', rel='stylesheet', href='/libs/materialize-css/dist/css/materialize.min.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='/libs/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/libs/materialize-css/dist/js/materialize.min.js')
    script(type='text/javascript', src='/libs/angular/angular.min.js')
    script(type='text/javascript', src='/libs/angular-ui-router/release/angular-ui-router.min.js')
    script(type='text/javascript', src='/javascripts/app/app.js')
    script(type='text/javascript', src='/javascripts/app/profile.service.js')
    script(type='text/javascript', src='/javascripts/app/config.router.js')
    script(type='text/javascript', src='/javascripts/app/profile.controller.js')
    script(type='text/javascript', src='/javascripts/app/profile-edit.controller.js')
