/*general*/
a:hover i{color:#C62828 !important;cursor: pointer;}
/*/general*/

/*logo*/
.brand-logo img{width:50px;margin-top:7px;}
/*/logo*/

/*user*/
.user-section{padding:40px;}
.user-section .user{text-align:center;}
.user-section .user .user-image .image{display:block;width:200px;height:200px;margin:auto;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;background-color:#e6e6e6;  background-image: url("../../images/icons/user.png");background-size:cover;background-position: center;background-repeat: no-repeat;}
.user-section .user .user-info .name{font-size:25px;font-weight:bold;}
/*/user*/

/*modal*/
.modal .modal-header{padding:10px;background: #C62828;color:#fff;font-size:20px;}
.modal .modal-header p{margin:0px;}
/*/modal*/

/*overriding materialize.css*/
/* label color */
.input-field label {
    color: #000;
}
.parallax img{
      display: inherit !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #C62828;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #C62828;
    box-shadow: 0 1px 0 0 #C62828;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #C62828;
    box-shadow: 0 1px 0 0 #C62828;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #C62828;
}
footer.page-footer {margin-top: 0px;padding-top: 0px;}
/*overriding materialize.css*/
